@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

@import './global/nav', './global/hamburger', './global/hero', './global/footer', './global/scroll';

.h-75vh {
	min-height: 75vh;
}

.btn {
	@apply rounded transition-all text-white border-2 border-transparent hover:border-indigo-600 bg-indigo-600 hover:bg-white hover:text-indigo-600 py-3 px-5 font-bold tracking-wider shadow-xl hover:shadow-2xl inline-block flex mt-6 lg:mt-0 ml-auto;
}

.cb-hero{
	.overlay {
		@apply w-auto h-full min-w-full min-h-full my-0 mx-auto transform -translate-x-2/4 block absolute top-0 right-0 bottom-0 left-0 object-cover box-border pointer-events-none opacity-95;
		margin-left: 50vw;
		z-index: -2;
		&.image{
			object-position: center;
			object-fit: cover;
		}
	}
	&#cb-hero-bg{
		@apply h-96;
        .justify-center{
            height: 60vh;
        }
	}
}

#cb-contact {
	.blob-bg {
		.blob {
			@apply absolute left-0 pointer-events-none w-32;
			height: 410px;
		}

		.blob-1 {
			top: 12%;
			opacity: 0.04;
		}

		.blob-2 {
			top: 26%;
			opacity: 0.06;
		}
	}
	.cb-contact-info{
		@apply bg-indigo-600 text-white h-full w-full rounded-lg p-8 relative;
		.heading{
			@apply md:mb-16 mb-8;
			h2{
				@apply font-bold text-3xl mb-4;
			}
			p{
				font-size: 14px;
			}
		}
		.cb-contact-method{
			@apply mb-16;
			li{
				@apply mb-6 relative pl-5;
				.material-icons{
					@apply absolute left-0;
					font-size: 16px;
					bottom: 3px;
				}
			}
		}
		.cb-social{
			@apply flex list-none absolute;
			bottom: 34px;
			left: 34px;
			li a{
				@apply bg-white h-8 w-8 flex justify-center items-center overflow-hidden rounded-full transform rotate-45 relative;
				margin-right: 25px;
				border: 2px solid #fff;
				&::before{
					@apply bg-indigo-600 h-full w-full absolute -top-full left-0;
					content: '';
					transition: all .3s ease;
				}
				&:hover::before{
					@apply top-0;
				}
				&:hover svg path{
					fill: #fff;
				}
				svg{
					@apply h-4 w-4 transform -rotate-45;
					path{
						fill: rgba(79, 70, 229, var(--tw-bg-opacity));
						transition: .3s;
					}
				}
			}
		}
	}
	.contact-form{
		@apply lg:p-4 p-2 pb-8 lg:pl-8;
		form{
			.input-group,
			.text{
				@apply w-full lg:flex;
				.input-item{
					@apply w-full lg:w-6/12 lg:mb-8 mb-3 overflow-hidden relative;
					height: 50px;
					margin-right: 4%;
					&:last-child{
						@apply mr-0;
					}
					&.message{
						@apply h-20 w-full;
					}
				}
				input,
				textarea{
					@apply bg-gray-100 dark:text-gray-300 dark:bg-darkviolet h-full w-full;
					padding-top: 20px;
					border: none;
					outline: none;
					&:focus + .label-name::after,
					&:valid + .label-name::after{
						@apply transform translate-x-0;
					}
					&:focus + .label-name .content,
					&:valid + .label-name .content{
						@apply text-indigo-600;
						font-size: 14px;
						transform: translateY(-125%);
					}
				}
				textarea{
					resize: none;
					&:focus + .label-name .content,
					&:valid + .label-name .content{
						margin-bottom: 5px;
						transform: translateY(-245%);
					}
				}
				label{
					@apply dark:text-gray-300 h-full w-full absolute bottom-0;
					border-bottom: 1px solid rgba(79, 70, 229, var(--tw-bg-opacity));
					pointer-events: none;
					left: -1px;
					&::after{
						@apply h-full w-full absolute left-0 -bottom-px transform -translate-x-full;
						content: '';
						border-bottom: 3px solid rgba(79, 70, 229, var(--tw-bg-opacity));
						transition: transform .3s ease;
					}
					.content{
						@apply absolute left-0;
						transition: all .3s ease;
						bottom: 5px;
					}
				}
			}
			.type-of-service{
				@apply mt-4 lg:mt-0;
				.heading{
					@apply lg:text-2xl font-bold mb-4 dark:text-gray-300;
				}
				.items{
					@apply lg:mb-8 mb-2 list-none;
					li{
						@apply lg:mr-2 mr-1;
						display: inline;
						&:last-child{
							@apply mr-0;
						}
						input[type="checkbox"] {
							@apply absolute;
							opacity: 0;
						}
						label{
							@apply text-indigo-600 bg-white dark:bg-darkviolet inline-block whitespace-nowrap cursor-pointer select-none rounded-3xl;
							border: 2px solid rgba(79, 70, 229, var(--tw-bg-opacity));
							padding: 5px 12px;
							margin: 3px 0px;
							-webkit-tap-highlight-color: transparent;
							transition: all .2s;
						}
						input[type="checkbox"]:checked + label {
							@apply bg-indigo-600;
							border-color: rgba(79, 70, 229, var(--tw-bg-opacity));
							color: #fff;
							transition: all .2s;
						}
					}
				}
			}
		}
	}
}
